@page
@model IndexSurname
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Task 02</h1>
    <p>Click on User Data to navigate to user data read from the JSON</p>
</div>
